*:not(p):not(button) {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
    background-image: url('/public/images/bg.png');
}

table {
    border-collapse: collapse;
}

.text_right {
    text-align: right;
}

/* -------------------------- */

#capts {
    margin-left: 307px;
    width: 975px;
    position: static;
    margin-top: -66px;
}

#capts .capt {
    display: inline-block;
}

#capts .image {
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 77px;
    border: 1px solid #a9a9a9;
}

#capts .pos_bottom .image {background-position: bottom;}
#capts .pos_top .image {background-position: top;}
#capts .capt:first-child.pos_bottom .image {background-position: top;}
#capts .capt:first-child.pos_top .image {background-position: bottom;}
#capts .capt:nth-child(2).pos_top .image {background-position: bottom;}
#capts .capt:nth-child(2).pos_bottom .image {background-position: top;}

#capts .capt:first-child,
#capts .capt:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
}

#capts .capt.pos_bottom:nth-child(2),
#capts .capt.pos_bottom:first-child {
    top: 175px;
}


#capts .capt:first-child .image,
#capts .capt:nth-child(2) .image {
    width: 300px;
    height: 116px;
}

#capts .types {
    width: 202px;
    font-size: 10px;
}

#capts .info {
    width: 202px;
    font-size: 11px;
}

#capts .capt:first-child .types,
#capts .capt:nth-child(2) .types {
    width: 302px;
    font-size: 13px;
}

#capts .capt:first-child .info,
#capts .capt:nth-child(2) .info {
    width: 302px;
    font-size: 14px;
}

#capts .capt:first-child .image {
    outline: 1px solid #a9a9a9;
    outline-offset: 19px;
}

#capts .types .active {
    background-color: #ffeb3b;
}

#capts .types td {
    width: 33%;
    text-align: center;
    padding: 1px 0 2px;
}
#capts .types td:nth-child(2) {width: 34%;}

#capts .info td {
    border: 1px solid #a9a9a9;
    width: 25%;
    text-align: center;
}

#capts .timer {
    font-weight: bold;
}

/* -------------------------- */

#input {
    width: 300px;
    margin-top: 155px;
    text-align: center;
    font-size: 16.5px;
    /*    background-color: #fff8c5;*/
        border: 1px solid #a9a9a9;
}

#input:focus {
    outline: none;
}

#capts_wrap {
    margin-left: 26.5%;
    margin-top: 2%;
    position: relative;
}

/* -------------------------- */

#users {
    position: absolute;
    bottom: 0;
    left: calc(50% - 506px);
    border: 1px solid #dadada;
    display: inline-block;
    font-size: 14px;
    padding: 0px 0 7px;
    margin: 5px;
    background-color: #f9f9f9;
    width: 1000px;
}

#users table {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

#users button {
    width: 73px;
    height: 23px;
    font-size: 13px;
}

#users tr:nth-child(even) {
    background-color: #f3f3f3;
}

#users td {
    height: 23px;
    white-space: nowrap;
}

#users td:not(.btn) {
    padding: 0 5px;
}

#users td:first-child {
    padding-left: 10px;
}

#users td:last-child {
    padding-right: 10px;
}

#users td:nth-child(even) {
    background-color: #00000008;
}

#users .disc {
    width: 23px;
    padding: 0;
}

#users .title {
    width: 100%;
}

/* -------------------------- */

#man {
    margin-left: calc(50% - 175px);
    width: 350px;
    margin-bottom: 5px;
}

#man button {
    width: 70px;
    height: 23px;
    font-size: 13px;
}

#man .btn {
    display: inline-block;
}


.accum {
    width: 61px;
}